/*
  Global styles

  Low-specificity, global styles that apply to the whole
  project: https://cube.fyi/css.html
*/
body {
  color: var(--color-primary);
  background-color: var(--color-light);
  font-size: var(--size-step-1);
  font-family: var(--font-base);
  line-height: 1.4;
  letter-spacing: var(--tracking);
  display: flex;
  flex-direction: column;
  background-image: url('/assets/images/titre.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #1193C1;
}

main {
  flex: auto;
}

/* Base typesetting */
h1,
h2,
h3 {
  line-height: 1;
  letter-spacing: var(--tracking-s);
  font-family: var(--font-display);
  color: var(--color-dark);
}

h1 {
  font-size: var(--size-step-5);
  text-shadow:1px 1px 1px #4e63b9;
}

h2 {
  font-size: var(--size-step-4);
  display: inline; 
  display: inline-block;
}

h3 {
  font-size: var(--size-step-3);
  color: #fff;
}

/* Set line lengths */
p,
li,
blockquote:not([class]) {
  max-inline-size: 50ch;
  color:var(--color-Light Glare);
}

h1,
h2,
h3 {
  max-inline-size: 20ch;
}

blockquote {
  border-inline-start: 0.8rem solid var(--color-primary);
  padding: var(--space-m-l);
  font-size: var(--size-step-2);
}

blockquote > * + * {
  margin-block-start: var(--space-m-l);
}

blockquote :last-child {
  font-family: var(--font-base);
  font-style: normal;
  font-size: var(--size-step-1);
}

svg {
  block-size: 2ex;
  inline-size: auto;
  flex: none;
}

[role='list'] {
  padding:0px ;
}

/* Base interactive elements */

a {
  color: var(--color-light);
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: 3px solid;
  outline-offset: 0.3ch;
}

:target {
  scroll-margin-top: 2ex;
}

main:focus {
  outline: none;
}

article [href^='http']:not([href*='eleventy-excellent.netlify.app']) {
  padding-inline-end: 0.8em;
}

article
  [href^='http']:not([href*='eleventy-excellent.netlify.app']):not(.no-indicator)::after {
  position: absolute;
  display: inline-block;
  inline-size: 1em;
  block-size: 1em;
  background-image: url('/assets/images/icn-external.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% auto;
  /* alternative text rules */
  content: '(external link)';
  overflow: hidden;
  white-space: nowrap;
  text-indent: 1em; /* the width of the icon */
}

/* Base selection styles that invert whatever colours are rendered */
::selection {
  background: var(--color-primary);
  color: var(--color-light);
}

.preload-transitions * {
  transition: none !important;
}

iframe {
  transform: rotate(-2deg);
}

.pochette{
  transform: rotate(-2deg);
  border:8px solid #ffffff;
  margin-top:80px;
}
.printemps{
  transform: rotate(-0deg);
  border:4px solid #ffffff;
}

iframe {
  aspect-ratio: 1/1;
  width: 100%;
  border: 4px solid #ffffff;
}
.extrait {color: var(--color-light);
  font-size: var(--size-step-1);
font-family: courier;
background-color: rgba(77, 69, 69, 0.3);
padding: 12px;
transform: rotate(-2deg);}

p.parution-salut-johnny{
  transform: rotate(-2deg);
  color:var(--color-dark);
  margin:0px;
  padding: 0px;
  text-align: center;
  width:350px;
  position: relative;
  top: -0.3em;
left: 0.3em;
}

p.parution-salut-johnny span{
padding:2px 16px;
color:#3B7487;
font-weight:700;
font-family: 'Courier New', Courier, monospace;
width:350px;
font-size: 20px;
background-color: #FEF8E8;
}


.parution-j-attends-l-printemps {
  color: #ffffff;
  font-size: var(--size-step-1);
  font-family: 'Courier New', Courier, monospace;
  padding: 8px;
  display: block;
  position: relative;
  width:250px;
  text-align: center;
top: -2em;
right:0px;
  }
  p.parution-j-attends-l-printemps span{
    padding:1px 12px;
    color: #fff;
    color: #687728;
    font-weight:700;
    font-family: 'Courier New', Courier, monospace;
    width:250px;
    text-align: center;
    font-size: 18px;
    background-color: #FEF8E8;
    }
